<h1>Idea lab rules</h1>
<h3>What is Idealab?</h3>
Idea lab is the future of brainstorming using the power of the Internet and the power of numbers to generate ideas on anything from new business ideas to new pick up lines 
Simply create a question, pay the prize , specify the response cost and post. Users can respond to this post buy making their comment and paying response cost. All of this money gets collected along with the prize and collected towards the total winnings pool. The comment with the most likes collects all the winnings.

In the result of a Tie the original poster will casting the deciding vote and the winner will collect their prize.  

<h3>How to use IdeaLab</h3>
<p>Questions – You can post questions by clicking on one of the create question buttons on either the index page or in the nav bav. Add in the title of your question, a description (if needed), the prize, the response cost , when the question should close and an image for further context (if needed). The prize will automatically be deducted from your account balance </p>
<p>Comments – Click on the question you want to respond to, write your response in the comment box, hit submit and the response cost will automatically be deducted from your account balance.</p>

Deciding the winner – Once a question has passed it’s end date it will be marked as closed and the comment with the most likes will receive the pool of money 




Rules 
-	No bullying or spam, I can delete your comments or your account. 
