<p>My application is a idea generating system that allows users to post questions and then allows other users to post comments to those questions. Users can then give comments likes to signify that they believe that a comment is good. The question maker will set how long they want to give users to be able to answer the question for and after that no more comments will be accepted </p>

<p>The difference of my app is that when generating a question, the question maker has to put up a prize from their own money that will be displayed along side the question it's self.  At the end of the questions "Open time" the comment with the most likes will be sent the pool of prize money. </p>

<p>However, when a user makes a comment they must also pay the response cost set by the question maker. When a comment is made and the response cost is payed, that amount of money is then added to the prize for that question. Meaning the more responses there are to a question the more the prize pool will increase and the more responders will be drawn to the question. </p>

<p>In the event of a tie when a question closes and two or more questions have the same number of likes the creator of a question will be displayed the top responses and will get to chose which comment deserves to win the prize. </p>

<p>Users start with $200 and the only way to make more money is to win it. Good luck!</p>

Rules 
-	No bullying or spam, I can delete your comments or your account. 
